*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.screen{
  display: flex;
  height: 100vh;
}

.sidebar{
  height: calc(100vh - 100px);
  background-color: #000;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.stilelogo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.home{
  margin-bottom: 15px;
}

.home ul li{
  color: grey;
  padding-left: 10px;
  line-height: 35px;
}

.home ul li:first-child{
  color: white;
}

.home ul li i,
.home ul li .library{
  padding: 0 10px;
}

.library{
  color: white;
  height: 20px;
}

.playlist ul li:first-child{
  color: white;
}

.playlist ul li{
  color: grey;
  padding-left: 10px;
  line-height: 35px;
}

.playlist ul li i{
  font-size: 30px;
  padding: 0 10px;
}

.playlist ul li span{
  padding-left: 10px;
}

.installprofile{
  align-self: ;
}

.install{
  color: grey;
}

.central{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100vh - 100px);
}

.upgrade{
  width: calc(100vw - 200px);
  background-color: #101010;
  height: 100px;
}

.butupgrade{
  border: 1px solid white;
  border-radius: 50px;
  text-align: center;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  width: 250px;
  position: fixed;
  top: 30px;
  right: 20px;
}

.main{
  height: calc(100vh - 200px);
  width: calc(100vw - 200px);
  background-color: #000d1a;
  overflow: auto;
}

.evidence{
  height: 30px;
  text-align: center;
  color: grey;
}

.evidence span{
  padding: 5px;
}

.evidence::after{
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: gold;
  position: relative;
  left: 545px;
}

.recently{
  text-align: left;
  color: white;
  font-size: 1.5rem;
  padding: 30px 20px;
}

.cardbox{
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.thumbnail{
  flex-basis: calc(100% / 6.5);
}

.stilefoto img{
  width: 100%;
}

.titolo, .autore{
  text-align: center;
}

.titolo{
  color: white;
  padding: 20px 0;
}

.autore{
  color: grey;
}

.suggerimenti{
  color: grey;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 30px;
}

#cardbox2{
  justify-content: flex-start;
}

#cardbox2 .thumbnail{
  margin-right: 25px;
}

.cardbox3{
  padding: 0 20px;
  display: flex;
}

.cardbox3 .stilefoto img{
  border-radius: 50%;
}

.cardbox3 .thumbnail{
  margin-right: 25px;
}

.player{
  width: 100%;
  height: 100px;
  background-color: #202020;
  position: fixed;
  bottom: 0;
}
