*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.screen{
  display: flex;
  height: 100vh;
}

.sidebar{
  height: calc(100vh - 100px);
  background-color: #000;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.sidebar2{
  height: calc(100vh - 100px);
  background-color: #000;
  width: 50px;
  display: flex;
  flex-direction: column;
  display: none;
  justify-content: space-between;
  position: relative;
}

.sidebaricon1 ul li{
  color: white;
  text-align: center;
  list-style-type: none;
  padding: 5px;
}

.sidebaricon2{
  position: absolute;
  bottom: 0;
  left: 10px
}

.sidebaricon2 ul li{
  color: white;
  text-align: center;
  list-style-type: none;
  padding: 5px;
}

.justify{
  flex-grow: 1;
}

.stilelogo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.home{
  margin-bottom: 15px;
}

.home ul li{
  color: grey;
  padding-left: 10px;
  line-height: 35px;
}

.home ul li:hover{
  color: white;
}

.home ul li .library:hover{
  color: white;
}

.home ul li:first-child{
  color: white;
  border-left: 2px solid gold;
}

.home ul li i,
.home ul li .library{
  padding: 0 10px;
}

.library{
  color: white;
  height: 20px;
}

.playlist ul li:first-child{
  color: white;
}

.playlist ul li{
  color: grey;
  padding-left: 10px;
  line-height: 35px;
}

.playlist ul li i{
  font-size: 30px;
  padding: 0 10px;
}

.playlist ul li span{
  padding-left: 10px;
}

.playlist ul li:hover{
  color: white;
}

.installprofile{
  padding-left: 20px;
}

.install{
  color: grey;
  border-bottom: 1px solid grey;
  padding-bottom: 15px;
}

.profile{
  color: white;
  padding: 15px 0;
}

.install span, .profile span{
  padding-left: 10px;
}

.install span:hover{
  color: white;
}

.download, .profilo{
  height: 20px;
  padding-top: 5px;
}

.profilo{
  background-color: grey;
  padding: 2px 5px;
  border-radius: 50%;
}

.central{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100vh - 100px);
  position: relative;
  padding-top: 100px;
  background-color: #000d1a;
}

.upgrade{
  width: calc(100vw - 200px);
  /* background-color: #000d1a; */
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.invisible{
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
}

.butupgrade{
  border: 1px solid white;
  border-radius: 50px;
  text-align: center;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  width: 250px;
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 300;
  transition: all 0.5s ease;
}

.butupgrade:hover{
  transform: scale(1.1);
}

.main{
  height: calc(100vh - 200px);
  width: calc(100vw - 200px);
  background-color: #000d1a;
  overflow: auto;
}

.evidence{
  height: 30px;
  color: grey;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.evidence span:hover{
  color: white;
}

.evidence span{
  padding: 5px;
}

.sub{
  position: relative;
}

.evidence span:first-child::after{
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background-color: gold;
  position: absolute;
  bottom: -5px;
  left: 40px;
}

.recently{
  text-align: left;
  color: white;
  font-size: 1.5rem;
  padding: 30px 20px;
}

.cardbox{
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.thumbnail{
  flex-basis: calc(100% / 6.5);
}

.stilefoto{
  position: relative;
}

.stilefoto img{
  width: 100%;

}

.titolo, .autore{
  text-align: center;
}

.titolo{
  color: white;
  padding: 20px 0;
}

.autore{
  color: grey;
}

.layover{
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  display: none;
}

.layover span i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: white;
  font-size: 50px;
}

.stilefoto:hover .layover{
  display: block;
}

.suggerimenti{
  color: grey;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 30px;
}

#cardbox2{
  justify-content: flex-start;
}

#cardbox2 .thumbnail{
  margin-right: 25px;
}


.cardbox3{
  padding: 0 20px;
  display: flex;
}

.cardbox3 .stilefoto img{
  border-radius: 50%;
}

.cardbox3 .thumbnail{
  margin-right: 25px;
}

.cardbox3 .layover{
  border-radius: 50%;
}

.player{
  width: 100%;
  height: 100px;
  background-color: #202020;
  position: fixed;
  bottom: 0;

}

.playercontainer{
  margin: 5px;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
}

.playersx{
  width: 200px;
  display: flex;
  align-items: center;

}

.fotoplayer{
  height: 40px;
  width: 40px;
  background-image: url("img/sinister.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.titoloeautore{
  padding: 0 10px;
  flex-grow: 1;
}

.minititolo{
  color: white;
  font-weight: bold;
  font-size: 0.6rem;
}

.miniautore{
  color: grey;
  font-size: 0.5rem;
}

.like span i{
  color: grey;
  padding: 0 2px;
  margin-right: 10px;
}

.like span i:hover{
  color: white;
}

.playercn{
  width: 35%;
  height: 100%;
  padding-top: 10px;
}

.playbutton{
  text-align: center;
}

.playbutton span{
  padding: 0 10px;
  color: white;
  font-size: 1.2rem;

}

.tempo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.tempo span{
  font-size: 0.7rem;
}

.timeline{
  height: 4px;
  width: 80%;
  background: grey;
  position: relative;
}

.playtime{
  height: 4px;
  background: white;
  width: 20%;
}

.pallino{
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: 100px;
  visibility: hidden;
}

.timeline:hover .pallino{
  visibility: visible;
}

.timeline:hover .playtime{
  background: gold;
}

.tempo span{
  color: white;
}

.playerdx{
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playerdx span{
  color: white;
  padding: 0 5px;
}

.volumeline{
  width: 50%;
  height: 4px;
  background: grey;
  margin-right: 10px;
}

.volume{
  height: 4px;
  width: 20%;
  background: white;
}

@media screen and (max-width:560px){

  .sidebar{
    display: none;
  }

  .sidebar2{
    display: block;
  }

  .main{
    width: calc(100vw - 50px);
  }

  .upgrade{
    width: calc(100vw - 50px);
  }

  .cardbox{
    flex-wrap: wrap;
  }

  .cardbox .thumbnail{
    flex-basis: calc(100% / 2.1);
  }

  .playbutton span{
    padding: 0 5px;
  }

  #cardbox2{
    flex-wrap: wrap;
  }

  #cardbox2 .thumbnail{
    flex-basis: calc(100% / 2.3);
  }

  .cardbox3{
    flex-wrap: wrap;
  }
  .cardbox3 .thumbnail{
    flex-basis: calc(100% / 2.3);
  }
}

@media screen and (min-width:561px) and (max-width:879px){

  .cardbox{
    flex-wrap: wrap;
  }

  .cardbox .thumbnail{
    flex-basis: calc(100% / 2);
  }
  #cardbox2{
    flex-wrap: wrap;
  }

  #cardbox2 .thumbnail{
    flex-basis: calc(100% / 2.3);
  }

  .cardbox3{
    flex-wrap: wrap;
  }
  .cardbox3 .thumbnail{
    flex-basis: calc(100% / 2.3);
  }
}

@media screen and (min-width:880px) and (max-width:1000px){
  .cardbox{
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .cardbox .thumbnail{
    flex-basis: calc(100% / 4.2);
    padding: 0 5px;
  }
  #cardbox2{
    flex-wrap: wrap;
  }

  #cardbox2 .thumbnail{
    flex-basis: calc(100% / 4.3);
  }

  .cardbox3{
    flex-wrap: wrap;
  }
  .cardbox3 .thumbnail{
    flex-basis: calc(100% / 4.3);
  }
}
